/* GENERAL */
body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
ul,ol{
    list-style:none;
}
section{
    padding: 70px 0px 150px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 50px;
}
section .heading h2{
    text-transform: uppercase;
}
.red-divider{
    width: 100px;
    height: 2px;
    background: #ff6861;
    margin: 0 auto 20px;

}
.white-divider{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto 20px;
}


/* MENU */
.navbar {
    background-color: #ff6861;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #ff6861 !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}


/* HOME */
#home{
    padding-top: 100px;
    background: #ff6861;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#home .heading h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}
#home .heading h3{
    color: #3f3e44;
}
.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  30px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover{
    background: white;
    color: #ff6861;
    text-decoration: none;
}


/* SKILLS */
#skills{
    background: #fff;
}

#skills .heading h2 {
    color: #ff6861;
}
#skills .progress{
    height: auto;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar{
    background: #ff675f;
}
#skills .progress h5{
    margin-top: 5px;
    text-shadow: 1px 1px 1px #000;
}


/* ABOUT */
#about{
    background: #ff6861;
}
#about .heading h2, h3, p{
    color: #fff;
}
#about p{
    font-size: 1.2rem;
    color: #fff;
}


/* SEPARATOR */
#separator{
    height: 180px;
    background: darkcyan;
}


/* CONTACT */
#contact{
    background: #fff;
}
#contact .heading h2{
    color: #ff6861;
}
#contact .btn-secondary{
    font-size: 1.4rem;
}


/* FOOTER */
footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .fas{
    font-size:  25px;
    margin: 20px;
    color: #ff6861;
    height: 30px;
}
footer .fas:hover{
    font-size:  27px;
}
footer h5{
    color: #fff;
    font-weight: normal;
}


/* BLOG */
#blog{
    background: #fff;
}
#blog .heading h2, p{
    color: #000;
}
#blog a{
    color: darkcyan;
}
#blog .btn-info{
    background: #ff6861;
    border-color: #ff6861;
    color: #fff;
}